<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Welcome</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="home">

            <header>
                <h1>SEARCH<span>MOVIE</span></h1>
            </header>

            <main>
                <table id="home_table">
                    <tr id="home-sign-up">
                        <td id="new">New to our group?</td>
                        <td><a href="/user"><button id="sign-up-button">Sign-up</button></a></td>
                    </tr>
                    <tr id="home-sign-in">
                        <td id="veteran">Already a member?</td>
                        <td><a href="/signin"><button id="sign-in-button">Sign-in</button></a></td>
                    </tr>
                </table>
            </main>

        </div>
    </body>
</html>