<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sign-up</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="signup">
            <header>
                <h1>SEARCH<span>MOVIE</span></h1>
            </header>

            <main>
                <h2>Don't you have an account yet?</h2>
                <p>Fill the form bellow...</p><br>

                <form action="/signup" method="post">
                    <table id="signup-menu">
                        <tr>
                            <td><label>Email</label></td>
                            <td><input type="email" name="email" id="email" placeholder="example@gmail.com"></td>
                        </tr>
                        <br>
                        <tr>
                            <td><label>Password</label></td>
                            <td><input type="password" name="password" id="password" placeholder="****"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="submit"></td>
                        </tr>
                    </table>
                </form>

                <br><br>
                <h3>Do you already have an account?</h3><br><br>
                <p><button value="click"><a href="/signin">sign-in</a></button></p>
            </main>
        </div>
    </body>
</html>